.App {
  text-align: center;
}
#sidebar{
  width: 15%;
  float: left;
  display:flex;
  background:#f1f1f1;
  height: 100vh;
}
#Dashboard{
  width:85%;
  height: 100vh;
  display: flex;
  background: #eaf2ff;
  overflow-y: auto;
}
.component{
  width:100%;
}
ul,h2{
  margin:0;
  padding:0;
  width: 100%;
}
.option-menu{
  padding:0.5em;
  transition:0.15s all ease;
}
.option-menu:hover{
  cursor:pointer;
  background:gainsboro;
}
.option-menu.active{
  color:black;
  font-weight: bold;
  background:white;
}